Repository red-dev-Mark/monicar: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yml:

pre-commit:
    parallel: true
    commands:
        eslint:
            glob: '*.{js,ts,jsx,tsx}'
            run: yarn lint --fix
        prettier:
            glob: '*.{js,ts,jsx,tsx,json,yaml,md}'
            run: yarn format
        type-check:
            run: yarn type-check

chore: @mantine/carousel `package.json` 파일 제거 (#220)
  package.json
  yarn.lock
Due: prettier

feat(log): LogPage `Suspense` 적용 (#220)
  app/(main)/log/Log.tsx
  app/(main)/log/page.tsx
Due: eslint, prettier

style(dashboard): InspectionStatus 컴포넌트 카운트 색상 수정 (#220)
  app/(main)/dashboard/components/InspectionStatus/styles.css.ts
Due: eslint, prettier

chore: 실시간 이동 경로 조회 API 파라미터 수정 (#212)
  app/(main)/location/components/VehicleDetailCard/index.tsx
  components/common/Modal/index.tsx
  lib/apis/route.ts
  lib/apis/vehicle.ts
Due: eslint, prettier

fix: useSubscribe API 엔드포인트 수정 (#224)
  hooks/useSubscribe.ts
Due: eslint, prettier

chore: certificates 인증서 주석 처리 (#224)
  .gitignore
  app/(main)/route/Route.tsx
  certificates/cert.pem
  certificates/key.pem
  components/common/LiveMode/index.tsx
  components/common/LiveMode/styles.css.ts
  public/icons/index.ts
  public/icons/navigate-icon.svg
Due: eslint, prettier

chore: useSubscribe 콘솔 주석 처리 (#224)
  components/common/Alarm/index.tsx
  hooks/useSubscribe.ts
Due: eslint, prettier

feat: LiveMode 컴포넌트 구현 (#224)
  app/(main)/route/Route.tsx
  components/common/Alarm/index.tsx
  components/common/LiveMode/index.tsx
  components/common/LiveMode/styles.css.ts
Due: eslint, prettier

feat(dashboard): InspectionStatusPanel 통계 적용 (#224)
  app/(main)/dashboard/inspection/components/InspectionStatusPanel/index.tsx
Due: eslint, prettier

feat(dashboard): '점검완료' 승인버튼 숨김 처리 (#224)
  app/(main)/dashboard/inspection/components/InspectionCard/index.tsx
  app/(main)/log/[id]/page.tsx
  app/(main)/route/components/DateRangeSection/index.tsx
Due: eslint, prettier

chore: MantineProvider `cursorType` 적용 (#224)
  app/layout.tsx
Due: eslint, prettier

feat(log): `router.replace` 적용 (#224)
  app/(main)/log/[id]/page.tsx
Due: eslint, prettier

feat(dashboard): 차량 점검 상태 변경 후 새로고침 적용 (#224)
  app/(main)/dashboard/inspection/Inspection.tsx
Due: eslint, prettier

style: 차량 추적 기능 버튼 스타일 수정 (#224)
  .gitignore
  app/(main)/location/components/VehicleDetailCard/index.tsx
  app/(main)/location/components/VehicleDetailCard/styles.css.ts
  app/(main)/route/Route.tsx
  app/(main)/route/styles.css.ts
  components/common/LiveMode/index.tsx
  components/common/LiveMode/styles.css.ts
  components/common/Modal/index.tsx
  lib/utils/vehicle.ts
Due: eslint, prettier

docs: README.md 초안 작성 (#227)
  README.md
Due: prettier

docs: README.md 작성 (#227)
  README.md
Due: prettier

feat: 로그인 요청 데이터 formData 구조로 변경
  lib/apis/auth.ts
Due: eslint, prettier

feat: 기존 쿠키 기반 인증 방식에서 세션 방식으로 수정
  app/(main)/dashboard/page.tsx
  hooks/useAuth.ts
  lib/apis/auth.ts
  middleware.ts
Due: eslint, prettier

fix: 미들웨어 세션 기반 리디렉션 문제 해결
  app/(main)/dashboard/components/VehicleStatusPanel/index.tsx
  app/(main)/location/components/VehicleStatusPanel/index.tsx
  hooks/useAuth.ts
  lib/apis/auth.ts
  middleware.ts
Due: eslint, prettier

fix: 로그인 실패 시, 잘못된 데이터 응답되는 문제 해결
  app/(main)/dashboard/components/VehicleStatusPanel/index.tsx
  app/(main)/location/components/VehicleStatusPanel/index.tsx
  lib/apis/auth.ts
  middleware.ts
Due: eslint, prettier

fix: 미들웨어 세션 인증 리디렉션 문제 해결
  middleware.ts
Due: eslint, prettier

chore: HTTPS 환경을 위한 인증서 gitignore 파일에 추가
  .gitignore
Due: none

chore: HTTPS 환경을 위한 인증서 gitignore 파일에 추가
  certificates/cert.pem
  certificates/key.pem
Due: none

docs: README 파일 내용 수정
  README.md
Due: prettier

remove: Storybook CI/CD 관련 파일 삭제
  .github/workflows/chromatic.yml
Due: none

docs: README 파일 수정
  README.md
Due: prettier

docs: README.md 작성
  README.md
Due: prettier

docs: README.md 수정
  README.md
Due: prettier

chore: TanStack Query 관련 의존성 설치 (#4)
  eslint.config.mjs
  package.json
  yarn.lock
Due: prettier

chore: TanStack Query ESLint 추가 설정 및 Provider 설정 (#4)
  app/layout.tsx
  eslint.config.mjs
Due: eslint, prettier

feat: TanStack Query 초기 설정 및 폴더 구조 구성 (#4)
  app/(main)/location/components/VehicleStatusPanel/index.tsx
  app/layout.tsx
  hooks/mutations/.gitkeep
  hooks/queries/.gitkeep
  lib/TanStackProvider.tsx
Due: eslint, prettier

chore: queryKey 관리 유틸 함수 구현 (#4)
  lib/utils/queryKeys.ts
Due: eslint, prettier

chore: TanStack Query DevTools 관련 의존성 설치 (#4)
  app/(main)/location/components/VehicleStatusPanel/index.tsx
  lib/TanStackProvider.tsx
  package.json
  yarn.lock
Due: eslint, prettier

feat: 차량 상태 관련 API 쿼리 훅 구현 (#4)
  app/(main)/dashboard/components/VehicleStatusPanel/index.tsx
  app/(main)/location/components/VehicleStatusPanel/index.tsx
  hooks/queries/.gitkeep
  hooks/queries/useVehicle.ts
  lib/apis/vehicle.ts
  lib/utils/queryKeys.ts
  lib/utils/tanstack.ts
  types/vehicle.ts
Due: eslint, prettier

fix: useQuery initialData 옵션 사용으로 인한 데이터 페칭되지 않는 문제 해결 (#4)
  app/(main)/location/components/VehicleStatusPanel/index.tsx
  hooks/queries/useVehicle.ts
Due: eslint, prettier

chore: 차량 관련 API 객체명 변경 (#4)
  app/(main)/dashboard/components/VehicleStatusPanel/index.tsx
  app/(main)/dashboard/inspection/Inspection.tsx
  app/(main)/location/components/VehicleDetailCard/index.tsx
  app/(main)/log/[id]/page.tsx
  app/(main)/log/register/page.tsx
  app/(main)/route/components/RouteSearchSection/index.tsx
  hooks/queries/useVehicle.ts
  hooks/useAutoComplete.ts
  lib/apis/vehicle.ts
  lib/services/vehicle.ts
Due: eslint, prettier

feat: 대시보드 차량현황 API 관련 코드 쿼리 훅으로 변경 (#4)
  app/(main)/dashboard/components/VehicleStatusPanel/index.tsx
  app/(main)/location/components/VehicleStatusPanel/index.tsx
  hooks/queries/useVehicle.ts
  lib/utils/vehicle.ts
Due: eslint, prettier

chore: TanStack Query Provider 컴포넌트 폴더 위치 변경 (#4)
  app/layout.tsx
  providers/TanStackProvider.tsx
Due: eslint, prettier

chore: 공지사항 관련 API 객체명 변경
  app/(main)/dashboard/components/NoticeListBoard/index.tsx
  app/(main)/dashboard/notice/components/NoticeContent/index.tsx
  lib/apis/notice.ts
Due: eslint, prettier
