Repository red-dev-Mark/monicar: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yml:

pre-commit:
    parallel: true
    commands:
        eslint:
            glob: '*.{js,ts,jsx,tsx}'
            run: yarn lint --fix
        prettier:
            glob: '*.{js,ts,jsx,tsx,json,yaml,md}'
            run: yarn format
        type-check:
            run: yarn type-check

docs: 이슈 템플릿 title 소문자에서 대문자로 수정 (#6)
  .github/.gitmessage
  .github/ISSUE_TEMPLATE/design.yml
  .github/ISSUE_TEMPLATE/docs.yml
  .github/ISSUE_TEMPLATE/feat.yml
  .github/ISSUE_TEMPLATE/fix.yml
  .github/ISSUE_TEMPLATE/setting.yml
Due: none

docs: 커밋 메세지 <영향_범위> 내용 추가 (#6)
  .github/.gitmessage
Due: none

feat: ESLint 약어 사용 제한 규칙 추가 (#7)
  eslint.config.mjs
Due: none

setting: 프로젝트 전체 색상 팔레트 추가 (#5)
  styles/globals.css
  styles/page.module.css
  styles/theme.css.ts
Due: eslint, prettier

feat: 폰트 추가 및 전역 스타일에 적용 (#5)
  public/fonts/airbnb-cereal-fontiko/AirbnbCereal_W_Bd.otf
  public/fonts/airbnb-cereal-fontiko/AirbnbCereal_W_Bk.otf
  public/fonts/airbnb-cereal-fontiko/AirbnbCereal_W_Blk.otf
  public/fonts/airbnb-cereal-fontiko/AirbnbCereal_W_Lt.otf
  public/fonts/airbnb-cereal-fontiko/AirbnbCereal_W_Md.otf
  public/fonts/airbnb-cereal-fontiko/AirbnbCereal_W_XBd.otf
  public/fonts/nanum-square-neo/NanumSquareNeo-Variable.woff2
  public/fonts/nanum-square-neo/NanumSquareNeoTTF-aLt.woff2
  public/fonts/nanum-square-neo/NanumSquareNeoTTF-bRg.woff2
  public/fonts/nanum-square-neo/NanumSquareNeoTTF-cBd.woff2
  public/fonts/nanum-square-neo/NanumSquareNeoTTF-dEb.woff2
  public/fonts/nanum-square-neo/NanumSquareNeoTTF-eHv.woff2
  styles/global.css.ts
Due: eslint, prettier

feat: Storybook 설치 및 Vanilla Extract 세팅 (#20)
  .github/PULL_REQUEST_TEMPLATE.md
  .gitignore
  .storybook/main.ts
  .storybook/preview.ts
  components/common/Button.tsx
  components/common/Button/Button.css.ts
  components/common/Button/Button.stories.tsx
  components/common/Button/index.tsx
  components/common/Input.tsx
  components/common/Input/index.tsx
  components/common/NavBar/index.tsx
  components/common/Navigation.tsx
  package.json
  styles/globals.css
  styles/page.module.css
  tsconfig.json
  yarn.lock
Due: eslint, prettier

fix: Storybook 스타일 적용 안 되는 문제 해결 (#20)
  .storybook/main.ts
  .storybook/preview.ts
  components/common/Button/Button.css.ts
  components/common/Button/Button.stories.tsx
  package.json
  yarn.lock
Due: eslint, prettier

chore: 불필요한 webpack 로더 패키지 제거 (#20)
  package.json
  yarn.lock
Due: prettier

chore: Storybook 배포 환경을 위한 Chromatic 설치 (#20)
  package.json
  yarn.lock
Due: prettier

chore: `@vanilla-extract/dynamic` 설치 (#5)
  .github/PULL_REQUEST_TEMPLATE.md
  package.json
  yarn.lock
Due: prettier

chore: prettierrc 세미콜론 설정 false 변경 (#5)
  .prettierrc
  app/layout.tsx
  app/page.tsx
  app/test/page.tsx
  app/test/styles.css.ts
  eslint.config.mjs
  next.config.mjs
  styles/global.css.ts
  styles/index.ts
  styles/reset.css.ts
  styles/theme.css.ts
Due: eslint, prettier

style: 폰트 폴더명 변경 및 vars를 styles로 교체 (#5)
  .vscode/settings.json
  public/fonts/AirbnbCereal/AirbnbCereal_W_Bd.otf
  public/fonts/AirbnbCereal/AirbnbCereal_W_Bk.otf
  public/fonts/AirbnbCereal/AirbnbCereal_W_Blk.otf
  public/fonts/AirbnbCereal/AirbnbCereal_W_Lt.otf
  public/fonts/AirbnbCereal/AirbnbCereal_W_Md.otf
  public/fonts/AirbnbCereal/AirbnbCereal_W_XBd.otf
  public/fonts/NanumSquareNeo/NanumSquareNeo-Variable.woff2
  public/fonts/NanumSquareNeo/NanumSquareNeoTTF-aLt.woff2
  public/fonts/NanumSquareNeo/NanumSquareNeoTTF-bRg.woff2
  public/fonts/NanumSquareNeo/NanumSquareNeoTTF-cBd.woff2
  public/fonts/NanumSquareNeo/NanumSquareNeoTTF-dEb.woff2
  public/fonts/NanumSquareNeo/NanumSquareNeoTTF-eHv.woff2
  styles/font.css.ts
  styles/global.css.ts
  styles/theme.css.ts
Due: eslint, prettier

feat: Badge 공통 컴포넌트 상수 및 타입 정의 (#16)
  .storybook/main.ts
  .storybook/preview.ts
  app/page.tsx
  components/common/Badge/badge.stories.tsx
  components/common/Badge/constants.ts
  components/common/Badge/index.tsx
  components/common/Badge/styles.css.ts
  components/common/Badge/types.ts
  components/common/Button/Button.css.ts
  components/common/Button/Button.stories.tsx
  components/common/Button/index.tsx
  components/common/Input/index.tsx
  components/common/NavBar/index.tsx
Due: eslint, prettier

feat: 테마 디자인 시스템 사용을 위한 layout.tsx에 themeClass 적용 (#16)
  app/layout.tsx
Due: eslint, prettier

chore: 커밋 메세지 템플릿 사용성 향성을 위한 .gitmessage 파일 수정 ------------------------------------------------------
  .github/.gitmessage
Due: none

feat: 배지 컴포넌트 구현 및 스타일 추가 (#16) ------------------------------------------------------
  components/common/Badge/styles.css.ts
  styles/reset.css.ts
  styles/theme.css.ts
Due: eslint, prettier

fix: Storybook에 Vanilla Extract `theme.css.ts` 적용되지 않는 문제 해결 (#16) ------------------------------------------------------
  .storybook/main.ts
  .storybook/preview.ts
  app/page.tsx
  app/test/page.tsx
  app/test/styles.css.ts
  components/common/Badge/badge.stories.tsx
  components/common/Badge/index.tsx
  components/common/Badge/styles.css.ts
  components/common/Button/Button.stories.tsx
Due: eslint, prettier

remove: 파일명 대문자로 변경하기 위한 임시 파일 삭제 (#16) ------------------------------------------------------
  components/common/Badge/badge.stories.tsx
Due: eslint, prettier

feat: Badge 컴포넌트 Storybook 설정 추가 (#16)
  components/common/Badge/Badge.stories.tsx
Due: eslint, prettier

chore: .vscode 디렉토리 gitignore 추가 ------------------------------------------------------
  .gitignore
Due: none

feat: Input 컴포넌트 구현 (#19)
  .storybook/main.ts
  .storybook/preview.ts
  components/common/Button/Button.css.ts
  components/common/Button/Button.stories.tsx
  components/common/Button/index.tsx
  components/common/Input/index.tsx
  components/common/Input/stories.tsx
  components/common/Input/styles.css.ts
  components/common/Input/types.ts
  components/common/NavBar/index.tsx
Due: eslint, prettier

feat: ErrorMessage 컴포넌트 구현 (#19) ------------------------------------------------------
  components/common/ErrorMessage/constants.ts
  components/common/ErrorMessage/index.tsx
  components/common/ErrorMessage/styles.css.ts
Due: eslint, prettier

refactor: Input 컴포넌트 코드 변경 (#19) ------------------------------------------------------
  components/common/Input/Input.stories.tsx
  components/common/Input/index.tsx
  components/common/Input/styles.css.ts
Due: eslint, prettier

feat: Header 공통 컴포넌트 구현 (#15)
  app/layout.tsx
  app/page.tsx
  components/common/Button/BackButton/index.tsx
  components/common/Button/BackButton/styles.css.ts
  components/layout/Footer.tsx
  components/layout/Header.tsx
  components/layout/MoblieHeader/index.tsx
  components/layout/MoblieHeader/styles.css.ts
  styles/global.css.ts
Due: eslint, prettier

feat: 커스텀 폰트 적용 및 theme.css.ts 적용 (#15) ------------------------------------------------------
  .storybook/preview.ts
  app/layout.tsx
  app/page.tsx
  components/layout/MoblieHeader/index.tsx
  components/layout/MoblieHeader/styles.css.ts
  styles/font.css.ts
  styles/global.css.ts
  styles/index.ts
  styles/theme.css.ts
Due: eslint, prettier

feat: 반응형 스타일링을 위한 breakpoints 테마 설정
  app/layout.tsx
  app/page.tsx
  components/common/Button/BackButton/index.tsx
  components/layout/MoblieHeader/index.tsx
  components/layout/MoblieHeader/styles.css.ts
  styles/font.css.ts
  styles/theme.css.ts
  styles/utils.css.ts
Due: eslint, prettier

feat: Header 공통 컴포넌트 Storybook 작성 (#15) ------------------------------------------------------
  app/layout.tsx
  app/page.tsx
  components/layout/Header/Header.stories.tsx
  components/layout/Header/index.tsx
  components/layout/Header/styles.css.ts
Due: eslint, prettier

feat: Header 컴포넌트 Storybook 모바일 테스트를 위한 viewport 설정 (#15) ------------------------------------------------------
  .storybook/preview.ts
  components/layout/Header/Header.stories.tsx
Due: eslint, prettier

feat: BaseInput 컴포넌트 생성 및 폰트파일 woff2로 변경 (#19) ------------------------------------------------------
  components/common/ErrorMessage/constants.ts
  components/common/ErrorMessage/index.tsx
  components/common/ErrorMessage/styles.css.ts
  components/common/Input/BaseInput/BaseInput.stories.tsx
  components/common/Input/BaseInput/index.tsx
  components/common/Input/BaseInput/styles.css.ts
  components/common/Input/Input.stories.tsx
  components/common/Input/index.tsx
  components/common/Input/styles.css.ts
  components/common/Input/types.ts
  components/common/Message/constants.ts
  components/common/Message/index.tsx
  components/common/Message/styles.css.ts
  public/favicon.ico
  public/file.svg
  public/fonts/AirbnbCereal/AirbnbCereal_W_Bd.otf
  public/fonts/AirbnbCereal/AirbnbCereal_W_Bd.woff2
  public/fonts/AirbnbCereal/AirbnbCereal_W_Bk.otf
  public/fonts/AirbnbCereal/AirbnbCereal_W_Bk.woff2
  public/fonts/AirbnbCereal/AirbnbCereal_W_Blk.otf
  public/fonts/AirbnbCereal/AirbnbCereal_W_Blk.woff2
  public/fonts/AirbnbCereal/AirbnbCereal_W_Lt.otf
  public/fonts/AirbnbCereal/AirbnbCereal_W_Lt.woff2
  public/fonts/AirbnbCereal/AirbnbCereal_W_Md.otf
  public/fonts/AirbnbCereal/AirbnbCereal_W_Md.woff2
  public/fonts/AirbnbCereal/AirbnbCereal_W_XBd.otf
  public/fonts/AirbnbCereal/AirbnbCereal_W_XBd.woff2
  public/globe.svg
  public/icons/back-icon.svg
  public/icons/black-alert-icon.svg
  public/icons/black-search-icon.svg
  public/text-logo.png
  public/vercel.svg
  public/window.svg
Due: eslint, prettier

feat: SideBar 공통 컴포넌트 구현 (#14) ------------------------------------------------------
  app/layout.tsx
  app/page.tsx
  components/layout/SideBar/NavItem/index.tsx
  components/layout/SideBar/NavItem/styles.css.ts
  components/layout/SideBar/index.tsx
  components/layout/SideBar/styles.css.ts
  styles/font.css.ts
  styles/reset.css.ts
  styles/theme.css.ts
Due: eslint, prettier

feat: Input 컴포넌트 수정 및 Message 컴포넌트 스토리북 추가 (#19) ------------------------------------------------------
  .vscode/settings.json
  components/common/Input/BaseInput/BaseInput.stories.tsx
  components/common/Input/BaseInput/index.tsx
  components/common/Input/BaseInput/styles.css.ts
  components/common/Message/Message.stories.tsx
  components/common/Message/index.tsx
  components/common/Message/styles.css.ts
  components/common/Message/types.ts
Due: eslint, prettier

style: Message 컴포넌트 중복 스타일 코드 제거 (#19) ------------------------------------------------------
  components/common/Message/index.tsx
  components/common/Message/styles.css.ts
Due: eslint, prettier

feat: NavItem 컴포넌트 Storybook 파일 작성 (#14) ------------------------------------------------------
  .storybook/preview.ts
  app/page.tsx
  components/layout/Navigation/SideNavBar/NavItem/NavItem.stories.tsx
  components/layout/Navigation/SideNavBar/NavItem/index.tsx
  components/layout/Navigation/SideNavBar/NavItem/styles.css.ts
  components/layout/Navigation/SideNavBar/index.tsx
  components/layout/Navigation/SideNavBar/styles.css.ts
  public/file.svg
  public/globe.svg
  public/next.svg
  public/vercel.svg
  public/window.svg
Due: eslint, prettier

feat: SideBar 이름 SideNavBar로 수정 및 Storybook 전역 스타일 적용 (#14)
  .storybook/preview.ts
  components/common/Badge/Badge.stories.tsx
  components/common/NavBar/index.tsx
  components/layout/Navigation/SideNavBar/NavItem/NavItem.stories.tsx
  components/layout/Navigation/SideNavBar/SideNavBar.stories.tsx
Due: eslint, prettier

feat: 네비게이션 항목 상수 분리 (#14) ------------------------------------------------------
  .vscode/settings.json
  app/layout.tsx
  app/page.tsx
  components/layout/Navigation/SideNavBar/NavItem/styles.css.ts
  components/layout/Navigation/SideNavBar/index.tsx
  components/layout/Navigation/SideNavBar/styles.css.ts
  config/constant.ts
  constants/navigation.ts
  public/icons/home-icon.svg
  styles/index.ts
  styles/layout.css.ts
  styles/utils.css.ts
Due: eslint, prettier

chore: AirbnbCereal 폰트 확장자 otf에서 woff2로 변경 (#13) ------------------------------------------------------
  styles/font.css.ts
Due: eslint, prettier

refactor: BaseInput 및 Message 컴포넌트 재사용성을 위한 구조 변경 (#13) ------------------------------------------------------
  app/page.tsx
  components/common/Input/BaseInput/BaseInput.stories.tsx
  components/common/Input/BaseInput/index.tsx
  components/common/Input/BaseInput/styles.css.ts
  components/common/Message/Message.stories.tsx
  components/common/Message/index.tsx
  components/common/Message/styles.css.ts
  components/common/Message/types.ts
  components/common/NavBar/index.tsx
Due: eslint, prettier

feat: SignInInput 컴포넌트 기본 구조 작성 (#13) ------------------------------------------------------
  components/common/Input/SignInInput/index.tsx
  components/common/Input/SignInInput/styles.css.ts
Due: eslint, prettier

refactor: PR의 코드 리뷰 반영 (#14)
  components/layout/Navigation/SideNavBar/index.tsx
  components/layout/Navigation/SideNavBar/styles.css.ts
Due: eslint, prettier
